{% extends "AfpaBattleGameBundle::layout.html.twig" %}

{% block title %}AfpaBattleGameBundle:User:login{% endblock %}

{% block body %}
    <h1>Bienvenue dans le formulaire de connexion</h1>
    <form method="POST">
        {{form_widget(form)}}
        <input type="submit">
    </form>
{% endblock %}


