{% extends "AfpaBattleGameBundle::layout.html.twig" %}

{% block title %}AfpaBattleGameBundle:User:login{% endblock %}

{% block body %}
<h1>Welcome at the User:login page</h1>
    <form method="POST">
    {{form_widget(form)}}
    <input type="submit">
</form>
{% endblock %}


