{% extends "AfpaBattleGameBundle::layout.html.twig" %}

{% block body %}

    <h1>Jeu local</h1>
    <div id="game">
        {{ render(controller('AfpaBattleGameBundle:GameOffline:gameRefresh')) }}
    </div>

{% endblock %}