.message{
    font-size: 40px;
    font-family: "Brush Script MT", Times, serif;
    text-align: center

}
.login{
    width: 200px;
    height:30px;
    position: absolute ;
    right:20px;
    top: 70px;
    border: 2px solid;
    border-radius: 10px;
}


.logout input{
    width: 200px;
    height:30px;
    position: absolute ;
    right:20px;
    top: 45px;
    border: 2px solid;
    border-radius: 10px;

}
.logout {


    width: 200px;
    height:30px;
    position: absolute ;
    right:13px;
    top: 20px;


}

.register{
    width: 200px;
    height: 30px;
    position: absolute ;
    right:20px;
    top: 30px;
    border: 2px solid;
    border-radius: 10px;
}
.bat{
    font-size: 50px;

    font-family: "Brush Script MT", Times, serif;
}
.logo{
    height: 100px;
    display: inline-block;
    position: absolute ;
    left: 8px;
    top: 8px;
}

header {
    background: none repeat scroll 0 0 #44AC9E;
    height: 100px;
    text-align: center;
}

footer {
    background: none repeat scroll 0 0 #44AC9E;
}

header nav li {
    margin:-30px auto; width: 380px;
    text-align: center;

    width: 200px;
    height: 30px;

    border: 2px solid;
    border-radius: 10px;
    color:black;
    background-color:white;
}
footer nav li{
    margin:0 auto; width: 300px;
    text-align: center;
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding:0px 10px;
    font-size:25px;
    color:black;
    display:inline-block;
}

table {text-align: center;border-collapse: collapse;}
td {
    border:1px solid black;
    background-color: #c6c3bd;
    width:25px;min-width:25px;
    height:25px;min-height:25px;
}

#game {width:800px; margin: 5px auto ;text-align: center;}
.board_pieces  {display: inline-block;}
.board_shoot  { margin-left: 25px; display: inline-block;}

.listgame td {
    border-collapse: collapse;
    width:70px;min-width:70px;
    height:25px;min-height:25px;
}

.createGame {
    font-size:20px;
    border: 2px solid;
    border-radius: 10px;
}

