
.connect{

    padding:20px;
    width: 200px;
}

header {

    background: none repeat scroll 0 0 #44AC9E;

}

footer {
    background: none repeat scroll 0 0 #44AC9E;

}
header ul {
    margin: 20px 0px;
}
header nav li {
    border-left: 1px solid #999;
    font-size:30px;
}
nav li {
    list-style-type: none;
    display:inline-block;
    padding:0px 10px;
}

header nav li {
    border-left: 1px solid #999;
    font-size:14px;
}