<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bataille NAPOLEONIENNE!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset("bundles/afpaBattleGame/css/styles.css") }}"/>








    </head>
    <body>
        <header>


            <img src="{{ asset("bundles/afpaBattleGame/images/grognard.jpg") }}" />
            <!-- On utilise la nouvelle balise HTML5 "nav" pour indiquer un élement de navigation dans notre site -->
            <div>
                <input class = "connect" type="submit" value="Se Connecter" />
            </div>

            <nav>
                <ul>
                    <li><a href="index.php">Accueil</a></li>
                    <li>Game room</li>       
                    <li><a href="gameroom.php">Game room</a></li>
                </ul>
            </nav>
        </header>


        {% block body %}
        {% endblock %}

        <footer>
            <nav>
                <ul>
                    <li>2016 @copyright</li>
                    <li>Qui sommes-nous ?</li>
                    <li><a href="contact.php">Contact</a></li>
                    <li><a href="https://fr.wikipedia.org/wiki/Bataille_navale_%28jeu%29">Règles</a></li>
                </ul>
            </nav>
        </footer>

    {% block javascripts %}{% endblock %}
</body>
</html>
