<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bataille NAPOLEONIENNE!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset("bundles/afpaBattleGame/css/styles.css") }}"/>
    </head>
    <body>
        <header>


            <img class ="logo" src="{{ asset("bundles/afpaBattleGame/images/grognard.jpg") }}" />
            <div class= "bat">Bataille NAPOLEONNIENE</div>
            <!-- On utilise la nouvelle balise HTML5 "nav" pour indiquer un élement de navigation dans notre site -->
            <input class = "connect" type="submit" value="Se Connecter" />


            <nav>
                <ul>
                    <li><a href="index.php">Accueil</a></li>
                    <li><a href="gameroom.php">Game room</a></li>

                </ul>
            </nav>
        </header>


    {% block body %}{% endblock %}

    <footer>
        <nav>
            <ul>
                <li>Infos légales</li>
                <li>Qui sommes-nous ?</li>
                <li><a href="contact.php">Contact</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Battleship_%28game%29">Rules</a></li>
            </ul>
        </nav>
    </footer>

{% block javascripts %}{% endblock %}
</body>
</html>
