
    
    {% extends "AfpaBattleGameBundle::layout.html.twig" %}

{% block title %}AfpaBattleGameBundle:Game{% endblock %}

{% block body %}
<h1>Liste des parties</h1>
<a href="TON-ADRESSE-ICI" target="_blank"><input type="button" value="Créer une nouvelle partie"></a>
  
  {% for game in games %}
    {{ game.name }}<br />
    {{ game.createdDate }}<br />
    <br />
{% endfor%}
{% endblock %}
    
</div